<ion-header>
    <ion-toolbar>
        <ion-title>{{ action }} Birthday</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="delete()"> <!-- Ver: https://ionicframework.com/docs/api/button -->
                <ion-icon name="trash"></ion-icon>
            </ion-button>
        </ion-buttons>

        <!--<ion-buttons end *ngIf="!isNew">-->
        <!--<button ion-button (click)="delete()">-->
        <!--<ion-icon name="trash"></ion-icon>-->
        <!--</button>-->
        <!--</ion-buttons>-->

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!-- antes era : <ion-content padding>  ver: https://ionicframework.com/docs/layout/css-utilities  -->
    <ion-list>
        <ion-item>
            <ion-label>Name</ion-label>
            <!--<ion-input text-right type="text" [(ngModel)]="birthday.Name"></ion-input>-->
            <ion-input class="ion-text-end" type="text" value="Clayton Passos"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Birthday</ion-label>
            <ion-datetime displayFormat="MMMM D, YYYY" pickerFormat="MMMM D YYYY" [value]="'2012-12-19T06:01:17.171Z'">
            </ion-datetime>
        </ion-item>
    </ion-list>

    <ion-button color="primary" expand="block" (click)="save()">Save</ion-button>
    <!-- antes fazia como comentário abaixo, mudou, veja como é agora: https://ionicframework.com/docs/api/button -->
    <!--<button ion-button block (click)="save()">Save</button>-->
</ion-content>
