<ion-header>
    <ion-toolbar> <!-- Antes utilizavamos <ion-navbar> -->
        <ion-title> 🎂 Birthdays 🎉</ion-title>

        <ion-buttons slot="end"> <!-- antes era assim: <ion-buttons end> -->
            <ion-button (click)="showDetail()">
                <!-- antes era assim: <button ion-button (click)="showDetail()">-->
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list inset="true">

        <ion-item *ngFor="let birthday of birthdays" (click)="showDetail(birthday)">
            <div slot="start">{{ birthday.name }}</div> <!-- ante era assim:  <div item-left>{{ birthday.Name }}</div>  ver: https://ionicframework.com/docs/api/item--->
            <div slot="end">{{ birthday.date }}</div> <!-- Antes era assim  <div item-right> -->
        </ion-item>

        <!-- valor estático, serve de modelo -->
        <!--<ion-item>-->
            <!--<div slot="start">Daniela</div>-->
            <!--<div slot="end"> 02/07/1982</div>-->
        <!--</ion-item>-->
    </ion-list>
</ion-content>


